@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 215 28% 17%;
    --card: 210 40% 98%;
    --card-foreground: 215 28% 17%;
    --popover: 210 40% 98%;
    --popover-foreground: 215 28% 17%;
    --primary: 209 68% 61%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 91%;
    --secondary-foreground: 215 28% 17%;
    --muted: 210 40% 91%;
    --muted-foreground: 215 20% 65%;
    --accent: 330 84% 91%;
    --accent-foreground: 330 46% 31%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 40% 91%;
    --input: 210 40% 91%;
    --ring: 209 68% 61%;
    --chart-1: 209 68% 61%;
    --chart-2: 330 84% 81%;
    --chart-3: 209 58% 71%;
    --chart-4: 330 74% 86%;
    --chart-5: 209 48% 81%;
    --radius: 0.8rem;
    --sidebar-background: 215 33% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 209 68% 61%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 215 28% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 215 28% 25%;
    --sidebar-ring: 209 68% 61%;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 209 68% 61%;
    --primary-foreground: 210 40% 98%;
    --secondary: 215 28% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 330 84% 91%;
    --accent-foreground: 330 46% 31%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 209 68% 61%;
    --chart-1: 209 68% 61%;
    --chart-2: 330 84% 81%;
    --chart-3: 209 58% 71%;
    --chart-4: 330 74% 86%;
    --chart-5: 209 48% 81%;
    --sidebar-background: 215 33% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 209 68% 61%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 215 28% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 215 28% 20%;
    --sidebar-ring: 209 68% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
